:root{
/* https://googlechrome.github.io/samples/css-custom-properties/ */
/*************************** Page-wide variables ****************************/
    --min-button-height: 60px;
    --form-header-height: 60px;
}
 /***************************** Calculated values ****************************/
  /* We don't use calc here because we don't want to resolve the values yet.
     You can think of these as simple textual replacements. */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto auto auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    max-height: 600px;
    
}

.form {
    max-height: 95vh;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .active {
    display: block;
    max-height: 100vh;
}

.modal-content .inactive {
    display: none;
}

.modal-content .active-table-row {
    display: table-row;
}

.form {
    height: 100%;
    max-height: 90vh;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width:400px;
    width: 100%;
    margin:40px auto;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.form-content-header {
    height:var(--form-header-height);
}

.form-content-container {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding-right: 10px;
    width: 100%;
    overflow-y: scroll;
    /* How to take up the remaining space with overflow */
    display: block;
    position: relative;
    height:calc(100% - var(--form-header-height) - var(--min-button-height) );
}

.form-content-container input[type="text"],
.form-content-container input[type="email"],
.form-content-container input[type="tel"],
.form-content-container input[type="url"],
.form-content-container input[type="date"],
.form-content-container select,
.form-content-container textarea {
  max-height: 200px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.form-content-container select[multiple]{
    max-height:100%;
    height: 40px;
    height: 100px;
}

.form-content-container input[type="date"]{ 
    height: 40px;
}

.form-content-container p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-row-input {
    display: inline-flex;
    flex-direction: row;
    width:100%;
    max-width: 100%;
}

.form-row-input .row-header {
 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:45%;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    height: 40px;

}

.row-header.skills {
    height: 100px !important;
}


.form-row-input > .half {
    max-width: 50%;
    /*padding-left: 5px !important; 
    padding-right: 5px !important; */
    margin: 0 0 0 0;
}

.form button {
    width: 100%;
    height: var(--min-button-height);
    padding: 10px 10px;
    background: #337ab7;
    font-size: 1em;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    
    transition: all 0.1s ease-out;
      border-bottom-width: 7px;
    
}


.form button:hover {
    background: #548dbe; 
}


#employee_tb-delete_container_modal-content_container {
    height: 240px;
}

a.table-edit {
    background: #337ab7;
    font-size: 1em;
    color: #fff;
    display: block;
    border: none;
    position: relative;
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    padding: 1px 5px 1px 5px;
    transition: all 0.1s ease-out;
      border-bottom-width: 7px;
    
}

.dt-button {
        margin: 2px;
        background: #337ab7;
        font-size: 1em;
        color: #fff;
        border: none;
        position: relative;
        border-radius: 0 0 2px 2px;
        transform: rotateZ(0deg);
        padding: 5px 10px 5px 10px;
        transition: all 0.1s ease-out;
        border-bottom-width: 7px;
        border: 0px solid rgba(0,0,0,0.1);
        
}

.dt-button:hover {
    background: #548dbe; 
}