{% extends "base.html" %}
{% block body %}


<!-- edit datatables wthi http://kingkode.com/free-datatables-editor-alternative/ -->

<!-- table of shifts -->
<!-- Use Data Tables -->

<h3>Table of shift data</h3>

<style>

    tr.Selected {
        background-color: red;
    }

</style>


<div id="shift_tb_div" >

        <button id="myBtn" hidden>Open Modal</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
        
          <!-- Modal content -->
          <div id="myModalContent" class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-heading">Edit Shift</p>
            <p>
            <table>
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="schema_c1"><td class="col">Shift Id</td><td><input id="schema_c1_input" type="text" readonly></td></tr>
                    <tr id="schema_c2"><td class="col">Start Period</td><td><input id="schema_c2_input" type="text"></td></tr>
                    <tr id="schema_c3"><td class="col">End Period</td><td><input id="schema_c3_input" type="text"></td></tr>
                    <tr id="schema_c4"><td class="col">Shift Lenfth</td><td><input id="schema_c4_input" type="text"></td></tr>  
                </tbody>
            </table>
            </p>
            <p>
            <button id="submit_edit" class="inactive">Submit Changes</button>
            <button id="revert_edit" class="inactive">Revert Changes</button>
            <button id="submit_new" class="active">Submit New Shift</button>
            <button id="submit_new_again" class="inactive">Submit Another New Shift</button>
            </p>
          </div>
        
        </div>

<table class="display" id="shift_tb" style="width:100%">
    <thead>
        <tr>
            <th>Shift Id</th>
            <th>Start Period</th>
            <th>End Period</th>
            <th>Shift Length</th>
            <th>Button</th>
            <th>button2</th>
        </tr>

</table>
</div>


<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .active {
    display: inline;
}

.modal-content .inactive {
    display: none;
}

.modal-content .active-table-row {
    display: table-row;
}
</style>


<script>

    /* Some information on jquery table frameworks
    http://www.jquerybyexample.net/2017/02/7-best-lightweight-jquery-data-table.html
    */

    // Get the data using a fetch request
    fetch('/test_shiftTable/')
        .then(function(response) {
            return response.json();
        })
        .then(function(myJson) {
            //console.log(jsonify(myJson));
            var table = $('#shift_tb').DataTable( {
                data: myJson["data"],
                rowId: function(a) { // needs to be function to append correct id
                    return 'tab_id_' + a[0];
                }, // set the row id to the first of the data columns
                dom: 'Bfrtip', // enables the custom button
                buttons: [
                    {
                        text: 'Delete Selection',
                        action: function ( e, dt, node, config ) {

                            // dt holds an api to the table
                            var rows = dt
                                .rows( '.selected' )

                            // send request to the server to delete this id
                            var dat = rows.data().toArray();
                            var to_delete = [];
                            // https://datatables.net/reference/api/data()
                            for (var i = 0; i < dat.length; i++)
                            {
                                to_delete.push(dat[i][0]);
                            }

                            
                            //https://codeburst.io/useful-javascript-array-and-object-methods-6c7971d93230

                            postData('/test_shift_delete/', {method: 'delete', ids: to_delete})
                            .then(function(value){
                                console.log(value);
                                if(value.delete_status === true)
                                {
                                    // if delete was successfull redraw the table
                                    rows.remove().draw();
                                }else{
                                    // if delete was not a success warn us
                                    alert('The server encountered an error deleting this item');
                                }
                            });
                        }
                    },
                    {
                        text: "add Shift",
                        action: function( e, dt, node, config ){

                            
                            // make the appropriate edit buttons visible
                            var modalHeading = document.getElementById('modal-heading');
                            var shiftIdCol = document.getElementById('schema_c1');
                            var editButton = document.getElementById('submit_edit');
                            var revertButton = document.getElementById('revert_edit');
                            var newButton = document.getElementById('submit_new');
                            var newButtonAgain = document.getElementById('submit_new_again');
                            
                            var modalContentInput_2 = document.getElementById('schema_c2_input');
                            var modalContentInput_3 = document.getElementById('schema_c3_input');
                            var modalContentInput_4 = document.getElementById('schema_c4_input');


                            modalHeading.innerText = "Add New Shift";
                            shiftIdCol.classList.remove('active-table-row');
                            shiftIdCol.classList.add('inactive');
                            editButton.classList.remove('active');
                            editButton.classList.add('inactive');
                            revertButton.classList.remove('active');
                            revertButton.classList.add('inactive');
                            newButton.classList.remove('inactive');
                            newButton.classList.add('active');

                            // open the modal 
                            var modal = document.getElementById('myModal');
                            modal.style.display = "block";

                            // setup handlers to alter the end time or shift legth depending on the other
                            $('#schema_c3_input').on('change',null, function(){
                                modalContentInput_4.value = parseInt(modalContentInput_3.value) - parseInt(modalContentInput_2.value);
                            });

                            $('#schema_c4_input').on('change',null, function(){
                                modalContentInput_3.value = parseInt(modalContentInput_4.value) + parseInt(modalContentInput_2.value);
                            });

                            // send the edited data to the server as a new shift
                            $("#submit_new").on('click', null, function(){
                                postData('/test_shift_delete/', {
                                    method: 'add',
                                    start_period: modalContentInput_2.value, 
                                    end_period: modalContentInput_3.value, 
                                    shift_length: modalContentInput_4.value})
                                .then(function(value){
                                    console.log(value);
                                    if(value.add_status === true)
                                    {
                                        // if delete was successfull redraw the table
                                        table.draw()
                                        alert("shift successfully added")
                                        newButton.classList.remove('active');
                                        newButton.classList.add('innactive');
                                        newButtonAgain.classList.remove('inactive');
                                        newButttonAgain.classList.add('active');

                                    }else{
                                        // if delete was not a success warn us
                                        alert('The server encountered an error adding this item');
                                    }
                                    
                                $('#submit_new_again').on('click',none, function(){
                                        modalContentInput_2.innerText = "";
                                        modalContentInput_3.innerText = "";
                                        modalContentInput_4.innerText = "";
                                        
                                        newButton.classList.remove('innactive');
                                        newButton.classList.add('active');
                                        newButtonAgain.classList.remove('active');
                                        newButttonAgain.classList.add('innactive');

                                    });

                                });
                            });
                            

                        },
                    },
                ],
                columns : [
                    { "data": [0] },
                    { "data": [1] },
                    { "data": [2] },
                    { "data": [3] },
                    // https://stackoverflow.com/questions/30627026/jquery-datatables-how-to-add-an-edit-and-delete-option
                    /* EDIT */ {
                        data : [0],
                        render: function (data, type, row) {
                            /* edit should be accomplished using a modal 
                            https://www.w3schools.com/howto/howto_css_modals.asp */
                            return '<a class="table-edit" data-id="' + data + '">EDIT</a>'
                        }
                    },
                    /* DELETE */ {
                        data : null,
                        render: function (data, type, row) {
                            return '<a class="table-delete" data-id="' + row[0] + '">DELETE</a>'
                        }
                    },
                ]
            });


            // add post table load events

            // add delete functionality to the table 
            // https://stackoverflow.com/questions/31987590/delete-row-using-datatable-plugin-then-delete-it-from-database
            // add click event on DataTable which injects some class (ex : selected ) on that row


            table.on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    //table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );


            // modal ON THE TABLE
            table.on('click', '.table-edit', function(e){
                console.log(e);

                
                var table_row = table.row( "#tab_id_" + e.currentTarget.dataset.id ).data();
                console.log(table_row);

                var modalContent = document.getElementById('myModalContent');
                var modalHeading = document.getElementById('modal-heading');
                var shiftIdCol = document.getElementById('schema_c1');
                var modalContentInput_1 = document.getElementById('schema_c1_input');
                var modalContentInput_2 = document.getElementById('schema_c2_input');
                var modalContentInput_3 = document.getElementById('schema_c3_input');
                var modalContentInput_4 = document.getElementById('schema_c4_input');

                modalContentInput_1.value = table_row[0];
                modalContentInput_2.value = table_row[1];
                modalContentInput_3.value = table_row[2];
                modalContentInput_4.value = table_row[3];

                var modal = document.getElementById('myModal');
                modal.style.display = "block";

                // make the appropriate edit buttons visible
                var editButton = document.getElementById('submit_edit');
                var revertButton = document.getElementById('revert_edit');
                var newButton = document.getElementById('submit_new');

                modalHeading.innerText = "Edit Existing Shift";
                shiftIdCol.classList.remove('inactive');
                shiftIdCol.classList.add('active-table-row');

                editButton.classList.remove('inactive');
                editButton.classList.add('active');
                revertButton.classList.remove('inactive');
                revertButton.classList.add('active');
                newButton.classList.remove('active');
                newButton.classList.add('inactive');

                
                // setup handlers to alter the end time or shift legth depending on the other
                $('#schema_c3_input').on('change',null, function(){
                    modalContentInput_4.value = parseInt(modalContentInput_3.value) - parseInt(modalContentInput_2.value);
                });

                $('#schema_c4_input').on('change',null, function(){
                    modalContentInput_3.value = parseInt(modalContentInput_4.value) + parseInt(modalContentInput_2.value);
                });

                // add post request for submitting changes to server
                
                $("#submit_edit").on('click', null, function(){
                    postData('/test_shift_delete/', {
                        method: 'edit', 
                        id: modalContentInput_1.value, 
                        start_period: modalContentInput_2.value, 
                        shift_length: modalContentInput_4.value})
                    .then(function(response_json){

                    });
                });


                // add event listener for reverting changes
                $("#revert_edit").on('click', null, function(){
                    modalContentInput_1.value = table_row[0];
                    modalContentInput_2.value = table_row[1];
                    modalContentInput_3.value = table_row[2];
                    modalContentInput_4.value = table_row[3];
                });


            });

        })
    .then(function(){

        // add post table load events



    });



/* create the modal which allows for table editing */
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}



// https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
function postData(url = ``, data = {}) {
  // Default options are marked with *
    return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, same-origin, *omit
        headers: {
            "Content-Type": "application/json; charset=utf-8",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
    })
    .then(response => response.json()); // parses response to JSON
}






</script>


<!-- calendar of shifts -->



<!-- create Shift function -->



<!-- delete shift function -->

<h3>Delete Shift function</h3>

<form action="POST">
    ID 
    <input type="text" name="id">
    <input type="submit" value="Submit">
</form>

<script>
//https://scotch.io/tutorials/how-to-use-the-javascript-fetch-api-to-get-data

</script>



{% endblock %}