{% extends "base.html" %}
{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin_employee.css') }}">
<script src="{{ url_for('static', filename='js/admin_employee.js') }}"></script> 

<h3>Table of employee data</h3>

<button id="add-employee-btn">add Employee</button>

<div id="employee_tb_container">
    
    <!-- the modal containing forms for editing the employee dataset -->
    <div id="employee_tb-form_container_modal" class="modal">
        <div id="employee_tb-form_container_modal-content_container", class="modal-content">
            
            
            <!-- Forms go here -->

            <!-- add employee form -->
            <div id="employee_tb-form_container_modal-add_new_employee" class="form active"></div>
                <span id="modal-close-btn" class="close">&times;</span>
                <h3>Add a new employee</h3>
                <div class="form-content-container">

                    <input id="_csrf_token" name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input id="function_marker" name="form_function" type="hidden" value="">
                    <input id="edit_id" name="edit_id" type="hidden" value="">

                    <p id="CSRF_PARAGRAPH">{{ csrf_token() }}</p>

                    <p>Employee Data</p>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_first_name" class="half" type="text" placeholder="Fist Name">
                            <input id="input_last_name" class="half" type="text" placeholder="last Name">
                        </div>
                    </div>
                    
                    <div class="form-content-row">
                        <div class="form-row-input">
                            <select id="gener_input">
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>

                    <p>Date of Birth</p>

                    <div class="form-content-row">
                    
                        <div class="form-row-input">
                            <input id="input_DoB" type="date" >
                        </div>
                    </div>

                    <p>Contact Detail</p>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_username" type="text" placeholder="Username">
                        </div>
                    </div>   

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_email" type="text" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_phone" type="text" placeholder="Phone Number">
                        </div>
                    </div>

                    <p>Emergency Contact</p>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_em_contact" type="text" placeholder="Emergency Contact Name">
                        </div>
                    </div>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_em_r" type="text" placeholder="Emergency Contact Relationship">
                        </div>
                    </div>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_em_phone" type="text" placeholder="Emergency Contact Phone">
                        </div>
                    </div>

                    <p>Financial Detail</p>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <input id="input_tfn" type="text" placeholder="Tax File Number">
                        </div>
                    </div>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <select id="input_ea">
                                <option value="">Enterprise Agreement</option>
                                <!--inject EA here -->
                                {% for ea in enterprise_agreement %}

                                <option value="{{ ea[0] }}">{{ ea[1] }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <p>Employment Detail</p>

                    <div class="form-content-row">
                        <div class="form-row-input">
                            <select id="input_skills" multiple>
                                <!-- inject Skillsets here -->
                                {% for skill in skills %}
                                
                                <option value="{{ skill[0] }}">{{ skill[1] }}</option>

                                {% endfor %}
                                
                            </select>
                        </div>
                    </div>

                </div>
            <button id="submitNewEmployee">
                <i class="spinner"></i>
                <span class="state">Submit</span>
            </button>
            </div>
    
        

        </div>
    </div>

</div>




    <!-- Table of employees -->

        <div id="employee_table_container">

        
        </div>


    <!-- table of employee skills -->

{% endblock %}